h2 {
  font-size: 46px;
  text-align: center;
  font-weight: lighter;
  background-color: #b8666a;
  color: #ece9da;
  padding: 10px;
  font-family: 'Charmonman', cursive;
}

#questionIndex {
  background-color:#4c6069;
  color: #f5f4ef;
  padding: 2em;
  width: 800px;
  border-radius: 20px;
  margin-left:auto;margin-right:auto;
}

.center {
  text-align: center;
}

.container {
  font-size: 1em;
  font-family: sans-serif;
}

#submit {
  font-size: 20px;
  background-color:#86adb4;
  color:  #f5f4ef;
  border: 0px;
  border-radius: 3px;
  padding: 9px;
  margin: 20px;
}

#submit:hover {
  background-color: #3a8;
}
